
@{
    ViewBag.Title = "SignIn";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <form class="form-signin" action="@Url.Action("SignIn")" method="post">
                        <div class="text-center mb-4">
                            <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
                            <h1 class="h3 mb-3 font-weight-normal">Floating labels</h1>
                            <p>Build form controls with floating labels via the <code>:placeholder-shown</code> pseudo-element. <a href="https://caniuse.com/#feat=css-placeholder-shown">Works in latest Chrome, Safari, and Firefox.</a></p>
                        </div>

                        <div class="form-label-group">
                            <input id="Account" name="Account" class="form-control" placeholder="Account" required autofocus>
                            <label for="inputEmail">Account</label>
                        </div>

                        <div class="form-label-group">
                            <input type="password" id="Password" name="Password" class="form-control" placeholder="Password" required>
                            <label for="inputPassword">Password</label>
                        </div>

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" value="remember-me"> Remember me
                            </label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                        @ViewBag.Mes

                    </form>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </div>
</div>
